body {
    background-color: #F8F3E7;
    font-family: "DM Sans", sans-serif;
}

.lecce-default-background {
    background-color: #F8F3E7;
}

.lecce-logo {
    height: 2rem;
}

.lecce-text-impact {
    font-family: "Bricolage Grotesque", sans-serif;
}

.lecce-primary-color {
    color: #F2792B
}

.lecce-secondary-color {
    color: #15324B;
}

.lecce-positive-color {
    color: #68c87f;
}

.lecce-positive-background {
    background-color: #34d65a;
}

.lecce-negative-color {
    color: #e46773;
}

.lecce-negative-background {
    background-color: #e46773;
}

.lecce-header {
    border-bottom: 0.01rem  solid #15324B;
    height: 4rem;
}

.lecce-btn {
    color: white;
    border: none;
    border-radius: 1000px;
}

.lecce-primary-background {
    background-color: #F2792B;
    color: white;
}

.lecce-primary-background-soft {
    background-color: #f9c7a6;
    color: white;
}

.lecce-secondary-background {
    background-color: #22354d;
    color: white;
}

.home-main-photo-container {
    aspect-ratio: 4/3;
}

.form-check-input:checked {
    background-color: #F2792B;
    border-color: #F2792B;
}

.tour-preview-photo {
    aspect-ratio: 16/9;
}

.profile-initials {
    background-color: #F2792B;
    color: white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-initials-big {
    background-color: #F2792B;
    color: white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lecce-register-checkbox {
    color: black;
    border: 0.01rem solid #15324B;
    border-radius: 1000px;
    background-color: white;
}

.lecce-register-checkbox:has(input:checked) {
    color: white;
    border: 0.01rem solid white;
    border-radius: 1000px;
    background-color: #F2792B;
}

.lecce-language-checkbox {
    color: #15324B;
    border: 0.01rem solid #15324B;
    border-radius: 1000px;
    background-color: white;
    width: 7rem;
}

.lecce-language-checkbox:has(input:checked) {
    color: white;
    border: 0.01rem solid white;
    border-radius: 1000px;
    background-color: #F2792B;
}

.lecce-profile-date {
    background-color: #F8F3E7;
    border: 0.1rem solid #F2792B;
    aspect-ratio: 1/1;
    border-radius: 0%;
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lecce-date-checkbox {
    color: #15324B;
    border: 0.01rem solid #15324B;
    background-color: white;
}

.lecce-date-checkbox:has(input:checked) {
    color: white;
    border: 0.01rem solid white;
    background-color: #F2793B;
}

.w-3 {
    width: 3%;
}

.w-6 {
    width: 6%;
}

.top-5 {
    top: 5%;
}

.lecce-theme-icon {
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*BAROQUE*/

.lecce-baroque-color {
    color: #5c3e23;
}

.lecce-baroque-background {
    background-color: #5c3e23;
}

.lecce-baroque-border {
    border: 0.3rem solid #5c3e23;
}

.lecce-baroque-text {
    color: #EFD7A6;
}