body {
    background-color: #F8F3E7;
    font-family: "DM Sans", sans-serif;
}

.lecce-logo {
    height: 2rem;
}

.lecce-text-impact {
    font-family: "Bricolage Grotesque", sans-serif;
}

.lecce-primary-color {
    color: #F2792B
}

.lecce-secondary-color {
    color: #15324B;
}

.lecce-positive-color {
    color: #68c87f;
}

.lecce-positive-background {
    background-color: #34d65a;
}

.lecce-negative-color {
    color: #e46773;
}

.lecce-negative-background {
    background-color: #e46773;
}

.lecce-header {
    border-bottom: 0.01rem  solid #15324B;
}

.lecce-btn {
    color: white;
    border: none;
    border-radius: 1000px;
}

.lecce-primary-background {
    background-color: #F2792B;
    color: white;
}

.lecce-primary-background-soft {
    background-color: #f9c7a6;
    color: white;
}

.lecce-secondary-background {
    background-color: #22354d;
    color: white;
}

.home-main-photo-container {
    aspect-ratio: 4/3;
}

.form-check-input:checked {
    background-color: #F2792B;
    border-color: #F2792B;
}

.tour-preview-photo {
    aspect-ratio: 16/9;
}

.profile-initials {
    background-color: #F2792B;
    color: white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lecce-register-checkbox {
    color: black;
    border: 0.01rem solid #15324B;
    border-radius: 1000px;
    background-color: white;
}

.lecce-register-checkbox:has(input:checked) {
    color: white;
    border: 0.01rem solid white;
    border-radius: 1000px;
    background-color: #F2792B;
}

.lecce-language-checkbox {
    color: #15324B;
    border: 0.01rem solid #15324B;
    border-radius: 1000px;
    background-color: white;
    width: 7rem;
}

.lecce-language-checkbox:has(input:checked) {
    color: white;
    border: 0.01rem solid white;
    border-radius: 1000px;
    background-color: #F2792B;
}