<div class="d-flex flex-row align-items-center justify-content-between gap-3 p-4 border-bottom">

    <div class="d-flex align-items-center gap-3">

        <div class="rounded-4 lecce-profile-date p-5">
            <span class="lecce-primary-color fw-bold mb-0 fs-6">{{ occurrence.date.strftime('%A') }}</span>
            <span class="lecce-text-impact lecce-secondary-color fw-bold fs-3 mb-0">{{ occurrence.date.strftime('%d/%m')
                }}</span>
            <span class="lecce-text-impact lecce-secondary-color fw-bold fs-6 mb-0">{{ occurrence.date.strftime('%Y')
                }}</span>
        </div>

        <div>
            <div class="d-flex align-items-center gap-2 mb-2">
                <h3 class="h5 lecce-text-impact lecce-secondary-color fw-bold m-0">
                    <a href="{{ url_for('tour', id=occurrence.tour.id) }}"
                        class="text-decoration-none lecce-secondary-color">
                        {{ occurrence.tour.title }}
                    </a>
                </h3>
                <div
                    class="badge rounded-4 lecce-{{ occurrence.tour.theme.name.lower() }}-background lecce-{{ occurrence.tour.theme.name.lower() }}-text">
                    {{ occurrence.tour.theme.name }}</div>
                {% if occurrence.reservation is not none and occurrence.reservation.state == "canceled" %}
                <div class="badge rounded-4 lecce-negative-background">Canceled</div>
                {% endif %}
                {% if occurrence.reservation is not none and occurrence.reservation.state == "active" %}
                <div class="badge rounded-4 lecce-positive-background">Active</div>
                {% endif %}
            </div>

            <div class="d-flex flex-wrap gap-3 small lecce-secondary-color">
                <span>
                    <i class="bi bi-clock lecce-primary-color me-1"></i>
                    {{ occurrence.start_time }} - {{ occurrence.tour.duration }}m
                </span>

                <span>
                    <i class="bi bi-translate lecce-primary-color me-1"></i>
                    {{ occurrence.tour.language }}
                </span>

                <span>
                    <i class="bi bi-geo-alt lecce-primary-color me-1"></i>
                    {{ occurrence.tour.stops }}
                </span>
            </div>
        </div>

    </div>

    <div>
        {% if current_user.id == occurrence.reservation.participant_id %}
        {% if current_user.role == 'participant' %}
        <a href="{{ url_for('reservation', id=occurrence.reservation.id) }}"
            class="btn lecce-btn lecce-primary-background px-4">
            <i class="bi bi-eye me-1"></i>
            Details
        </a>
        {% else %}
        <a href="#" class="btn lecce-btn lecce-primary-background px-4">
            <i class="bi bi-eye me-1"></i>
            Details
        </a>
        {% endif %}
        {% endif %}
    </div>

</div>