<!-- TODO: implement booking in backend -->
<div class="d-flex flex-row align-items-center justify-content-between gap-3 p-4 border-bottom">

    <div class="d-flex align-items-center gap-3">

        <div class="rounded-4 lecce-profile-date p-5">
            <span class="lecce-primary-color fw-bold mb-0 fs-6">TODAY</span>
            <span class="lecce-text-impact lecce-secondary-color fw-bold fs-3 mb-0">24/03</span>
            <span class="lecce-text-impact lecce-secondary-color fw-bold fs-6 mb-0">2026</span>
        </div>

        <div>
            <h3 class="h5 lecce-text-impact lecce-secondary-color fw-bold mb-2">
                Lecce al Tramonto
            </h3>

            <div class="d-flex flex-wrap gap-3 small lecce-secondary-color">
                <span>
                    <i class="bi bi-clock lecce-primary-color me-1"></i>
                    17:30 - 19:30
                </span>

                <span>
                    <i class="bi bi-translate lecce-primary-color me-1"></i>
                    Italian
                </span>

                <span>
                    <i class="bi bi-geo-alt lecce-primary-color me-1"></i>
                    Porta Napoli
                </span>
            </div>
        </div>

    </div>

    <div>
        <a href="#" class="btn lecce-btn lecce-primary-background px-4">
            <i class="bi bi-eye me-1"></i>
            Details
        </a>
    </div>

</div>