{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="mx-4 my-5">

    <section>
        <div class="container">


            <div class="row align-items-center g-5">
                <div class="col-6">

                    <p class="lecce-text-impact lecce-primary-color my-2 fs-6 fw-semibold">NOT A COMMON CITY</p>
                    <h1 class="display-4 fw-bold lecce-text-impact">
                        Lecce <span class="lecce-primary-color">c'è.</span><br>
                        Discover it <span class="lecce-primary-color">step by step.</span>
                    </h1>

                    <div class="d-flex gap-3 mt-4">
                        <a href="{{ url_for('tours') }}" class="btn lecce-btn lecce-primary-background px-4 lh-2">Book our Tours</a>
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('login') }}" class="btn lecce-btn lecce-secondary-background px-4 lh-2">Join us</a>
                        {% endif %}
                    </div>
                </div>

                <div class="col-6">
                    <div class="rounded-5 shadow overflow-hidden home-main-photo-container">
                        <img class="object-fit-cover h-100 w-100"
                            src="{{ url_for('static', filename='images/utility_images/placeholder.jpg') }}"
                            alt="Random tour photo">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="my-5">
        <div class="container">

            <div class="mb-2">
                <p class="lecce-text-impact lecce-primary-color my-2 fs-6 fw-semibold">TOURS ARE OURS, DECISIONS ARE
                    YOURS</p>
                <h2 class="fw-bold mb-1">
                    Search for a Tour
                </h2>
            </div>

            {% include "searchbar.html" %}

        </div>
    </section>

    <!-- Tours -->
    <section class="pt-5">
        <div class="container">

            <div class="d-flex flex-row justify-content-between align-items-end mb-4">
                <div>
                    <p class="lecce-text-impact lecce-primary-color my-2 fs-6 fw-semibold">OUR BEST SELECTION</p>

                    <h2 class="fw-bold mb-1">
                        Avaiable Tours
                    </h2>
                </div>
            </div>

            <div class="row g-4">
                {% for tour in tours %}
                <div class="col-3">
                    {% include "tour_card.html" %}
                </div>
                {% endfor %}
            </div>

            <div class="text-center mt-5">
                <a href="{{ url_for('tours') }}" class="btn lecce-btn lecce-secondary-background border border-white px-4 py-3">Explore all Tours</a>
            </div>

        </div>
    </section>

</main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/search.js') }}"></script>
{% endblock %}