{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <div class="row justify-content-center">
        <div class="col-8">

            <header class="mb-4">
                <h1 class="lecce-text-impact lecce-secondary-color fw-bold mb-3">
                    This occurrence
                </h1>
            </header>


            <section class="bg-white rounded-5 shadow mb-4">
                <div class="p-4">
                    <div class="row align-items-center g-4">

                        <div class="col-7">
                            <div class="d-flex gap-3 align-items-center">
                                <div
                                    class="border lecce-primary-color d-flex align-items-center justify-content-center p-3 profile-initials rounded-4">
                                    <i class="bi bi-calendar-check"></i>
                                </div>

                                <div>
                                    <h2 class="fw-bold lecce-secondary-color mb-2 fs-3">
                                        The tour starts in:
                                    </h2>
                                    <span class="fs-6">
                                        Departure: <span class="fw-bold">31/05/2026 - 10:00</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-5" id="limitNotExpired">
                            <div id="cancelCountdown" class="d-flex justify-content-end align-items-start gap-2"
                                seconds="{{ seconds_remaining }}">

                                <div class="d-flex flex-column align-items-center">
                                    <div class="lecce-profile-date lecce-primary-color fw-bold fs-4 rounded-4"
                                        id="days">
                                        0
                                    </div>
                                    <div class="mt-1 fs-6">DAYS</div>
                                </div>

                                <div class="fs-3 lecce-primary-color fw-bold pt-2">:</div>

                                <div class="d-flex flex-column align-items-center">
                                    <div class="lecce-profile-date lecce-primary-color fw-bold fs-4 rounded-4"
                                        id="hours">
                                        0
                                    </div>
                                    <div class="mt-1 fs-6">HOURS</div>
                                </div>

                                <div class="fs-3 lecce-primary-color fw-bold pt-2">:</div>

                                <div class="d-flex flex-column align-items-center">
                                    <div class="lecce-profile-date lecce-primary-color fw-bold fs-4 rounded-4"
                                        id="minutes">
                                        0
                                    </div>
                                    <div class="mt-1 fs-6">MINUTES</div>
                                </div>

                                <div class="fs-3 lecce-primary-color fw-bold pt-2">:</div>

                                <div class="d-flex flex-column align-items-center">
                                    <div class="lecce-profile-date lecce-primary-color fw-bold fs-4 rounded-4"
                                        id="seconds">
                                        0
                                    </div>
                                    <div class="mt-1 fs-6">SECONDS</div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="bg-white rounded-5 shadow mb-4">
                <div class="p-4">

                    <h2 class="lecce-text-impact fw-bold lecce-secondary-color mb-0 fs-3 mb-3">
                        Summary
                    </h2>

                    <div class="row g-4 mb-4">

                        <span class="lecce-text-impact fw-bold lecce-secondary-color mb-0 fs-6">
                            Barocco & Meraviglie
                        </span>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-calendar-event lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bolder">WHEN</div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        31/05/2026 - 10:00
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-clock lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Duration</div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        150m
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-geo-alt lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Meeting point
                                    </div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        Porta Napoli
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-translate lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Language</div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        Italian
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-people lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Participants
                                    </div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        9 people
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-check2-square lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Present</div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        6 people
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>


            <section class="bg-white border-0 rounded-5 shadow mb-4">
                <div class="p-4">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="fw-bold lecce-secondary-color mb-0 fs-3">
                            Participants
                        </h2>
                    </div>


                    <div class="d-flex justify-content-between align-items-center py-3 border-bottom">

                        <div class="d-flex align-items-center gap-3">
                            <a href="#" class="text-decoration-none">
                                <div class="profile-initials fw-bold p-2">GV</div>
                            </a>

                            <div>
                                <div class="fw-bold lecce-secondary-color">
                                    Giulia Verdi
                                </div>
                                <div class="fs-6">
                                    g.verdi@email.it
                                </div>
                            </div>
                        </div>

                        <span class="badge lecce-btn lecce-secondary-background lecce-primary-color">
                            Owner
                        </span>

                    </div>

                    <div class="d-flex justify-content-between align-items-center py-3 border-bottom">

                        <div class="d-flex align-items-center gap-3">
                            <div class="profile-initials fw-bold p-2">
                                PV
                            </div>

                            <div>
                                <div class="fw-bold lecce-secondary-color">
                                    Paolo Verdi
                                </div>
                                <div class="fs-6">
                                    p.verdi@email.it
                                </div>
                            </div>
                        </div>

                        <span class="badge lecce-btn lecce-primary-background lecce-primary-color">
                            Extra
                        </span>

                    </div>

                </div>
            </section>


            <section class="bg-white rounded-5 shadow mb-4 p-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="fw-bold lecce-secondary-color mb-0 fs-3">
                        Report post-tour
                    </h2>

                    <span class="badge lecce-btn lecce-secondary-background">
                        Not sent
                    </span>
                </div>

                <div class="row g-3">
                    <div class="col-4">
                        <div class="lecce-default-background border rounded-5 p-4">
                            <div class="lecce-text-impact lecce-primary-color fw-bold fs-6 mb-2">
                                Effective participants
                            </div>
                            <div class="lecce-text-impact lecce-secondary-color fw-bold fs-1 gap-3">
                                <span id="effectiveParticipants">6</span><span class="mx-2">/</span><span
                                    id="totalParticipants">9</span>
                            </div>
                            <p class="mb-0">
                                Select the participants who took part in the tour.
                            </p>
                        </div>
                    </div>

                    <div class="col-8">
                        <label for="groupPhoto" class="form-label fw-bold lecce-secondary-color">
                            Upload group photo
                        </label>
                        <input type="file" class="form-control rounded-4" id="groupPhoto" name="groupPhoto"
                            accept="image/png, image/jpeg, image/jpg">
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-2">
                    <button type="button" class="btn lecce-btn lecce-primary-background p-3 fw-bold">
                        <i class="bi bi-check-lg me-2"></i>
                        Send report
                    </button>
                </div>
            </section>
        </div>
    </div>
</main>

{% endblock %}