{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<main class="mx-4 my-5">

    <div class="container w-75">

        <h1 class="lecce-text-impact lecce-secondary-color fw-bold mb-4">
            My Profile
        </h1>

        <!-- Header -->
        <section class="bg-white rounded-5 shadow p-5 mb-5">

            <div class="d-flex flex-row align-items-center justify-content-between gap-4">

                <div class="d-flex flex-row align-items-center gap-4">

                    <div
                        class="profile-initials-big lecce-primary-background d-flex align-items-center justify-content-center fw-bold fs-1">
                        {% if current_user.profile_photo is not none %}
                        <div class="p-1"><img
                                src="{{ url_for('static', filename='images/profile_photos/' ~ current_user.profile_photo) }}"
                                alt="Profile Photo" class="img-fluid rounded-circle object-fit-cover"></div>
                        {% else %}
                        <div class="fw-bold p-2">{{ current_user.first_name[0].upper() }}{{
                            current_user.last_name[0].upper() }}</div>
                        {% endif %}
                    </div>

                    <div class="d-flex flex-column align-items-start gap-2">
                        <span class="lecce-text-impact lecce-secondary-color fw-bold fs-1">
                            Hi, {{ current_user.first_name }}!
                        </span>

                        <span class="badge rounded-pill lecce-primary-background">
                            {% if current_user.role == 'guide' %}Guide{% else %}Traveler{% endif %}
                        </span>

                        {% if current_user.role == 'guide' %}
                        <p class="mb-0 fs-6 lecce-secondary-color">
                            <i class="bi bi-translate lecce-primary-color me-1"></i>
                            {% for language in current_user.languages %}
                            {{ language['name'] }}{% if not loop.last %} - {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div>

                </div>

                <div>
                    {% if current_user.role == 'guide' %}
                    <a href="{{ url_for('new_tour') }}" class="btn lecce-btn lecce-primary-background px-4 py-3 shadow">
                        <i class="bi bi-plus me-1"></i>
                        New tour
                    </a>
                    {% else %}
                    <a href="{{ url_for('tours') }}" class="btn lecce-btn lecce-primary-background px-4 py-3 shadow">
                        <i class="bi bi-binoculars me-1"></i>
                        Explore tours
                    </a>
                    {% endif %}
                </div>

            </div>

        </section>

        <!-- Stats -->
        <!--TODO: implement stats after implementing bookings-->
        <section class="mb-5">

            <h2 class="lecce-section-label lecce-text-impact lecce-primary-color fw-bold mb-3 fs-6">
                MY STATS
            </h2>

            <div class="row g-4">

                <div class="col-4">
                    <div class="bg-white rounded-5 shadow p-4 h-100 d-flex align-items-center gap-3">
                        <div class="d-flex align-items-center gap-3">

                            <div class="profile-initials rounded-4 d-flex align-items-center justify-content-center">
                                <i class="bi bi-map"></i>
                            </div>

                            <div class="d-flex flex-column align-items-start">
                                <span class="fw-bold mb-0">
                                    TOURS
                                </span>
                                <span class="lecce-text-impact lecce-secondary-color fw-bold mb-0 fs-2">
                                    5
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="bg-white rounded-5 shadow p-4 h-100">
                        <div class="d-flex align-items-center gap-3">

                            <div class="profile-initials rounded-4 d-flex align-items-center justify-content-center">
                                <i class="bi bi-calendar"></i>
                            </div>

                            <div class="d-flex flex-column align-items-start">
                                <span class="fw-bold mb-0">
                                    NEXT TOUR
                                </span>

                                <span class="lecce-text-impact lecce-secondary-color fw-bold mb-0 fs-2">
                                    Mon
                                </span>


                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="bg-white rounded-5 shadow p-4 h-100 d-flex align-items-center gap-3">
                        <div class="d-flex align-items-center gap-3">

                            <div class="profile-initials rounded-4 d-flex align-items-center justify-content-center">
                                <i class="bi bi-star"></i>
                            </div>

                            <div class="d-flex flex-column align-items-start">
                                <span class="fw-bold mb-0">
                                    Your Rating
                                </span>

                                <div class="d-flex align-items-center gap-2">
                                    <span class="lecce-text-impact lecce-secondary-color fw-bold mb-0 fs-2">
                                        4.8
                                    </span>
                                    <i class="bi bi-star-fill lecce-primary-color fs-4"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- Future tours -->
        <section class="mb-5">

            <div class="d-flex justify-content-between align-items-end gap-3 mb-3">

                <div>
                    <h2 class="lecce-text-impact lecce-primary-color fw-bold mb-2 fs-6">
                        MY SCHEDULE
                    </h2>

                    <span class="lecce-text-impact lecce-secondary-color fw-bold mb-0 fs-2">
                        Upcoming tours
                    </span>
                </div>

                <a href="#" class="lecce-primary-color fw-bold text-decoration-none fs-6">
                    View every future tour
                </a>

            </div>

            <div class="bg-white rounded-5 shadow overflow-hidden">

                {% for i in range(3) %}
                {% include "booking_card.html" %}
                {% endfor %}


            </div>

        </section>

        <section class="mb-5">

            <div class="d-flex justify-content-between align-items-end gap-3 mb-3">

                <div>
                    <h2 class="lecce-text-impact lecce-primary-color fw-bold mb-2 fs-6">
                        MY TOURS
                    </h2>

                    <p class="lecce-text-impact lecce-secondary-color fw-bold mb-0 fs-2">
                        {% if current_user.role == 'guide' %}
                            The tours I organize
                        {% else %}
                            The tours I have booked
                        {% endif %}
                    </p>
                </div>

                <a href="#" class="lecce-primary-color fw-bold text-decoration-none fs-6">
                    View every tour
                </a>

            </div>

            <div class="row g-4">
                {% if tours|length > 0 %}
                {% for tour in tours %}
                <div class="col-4">
                    {% include "tour_card.html" %}
                </div>
                {% endfor %}
                {% else %}
                <div class="d-flex justify-content-center">
                    <p>No tours found</p>
                </div>
                {% endif %}
            </div>

        </section>

    </div>

</main>
{% endblock %}