{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <div class="row justify-content-center">
        <div class="col-8">

            <header class="mb-4">
                <h1 class="lecce-text-impact lecce-secondary-color fw-bold mb-3">
                    Your reservation
                </h1>
            </header>


            <section class="bg-white rounded-5 shadow mb-4">
                <div class="p-4">
                    <div class="row align-items-center g-4">

                        <div class="col-7">
                            <div class="d-flex gap-3 align-items-center">
                                <div
                                    class="border lecce-primary-color d-flex align-items-center justify-content-center p-3 profile-initials rounded-4">
                                    <i class="bi bi-clock"></i>
                                </div>

                                <div>
                                    <h2 class="fw-bold lecce-secondary-color mb-2 fs-3">
                                        You can cancel in:
                                    </h2>
                                    <span class="fs-6">
                                        Cancellation limit: <span class="fw-bold">{{
                                            cancelation_limit.strftime("%d/%m/%Y - %H:%M") }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        {% if reservation.state == "active" %}
                        <div class="col-5" id="limitNotExpired">
                            <div id="cancelCountdown" class="d-flex justify-content-end align-items-start gap-2"
                                seconds="{{ seconds_remaining }}">

                                <div class="d-flex flex-column align-items-center">
                                    <div class="lecce-profile-date lecce-primary-color fw-bold fs-4 rounded-4"
                                        id="days">
                                        0
                                    </div>
                                    <div class="mt-1 fs-6">DAYS</div>
                                </div>

                                <div class="fs-3 lecce-primary-color fw-bold pt-2">:</div>

                                <div class="d-flex flex-column align-items-center">
                                    <div class="lecce-profile-date lecce-primary-color fw-bold fs-4 rounded-4"
                                        id="hours">
                                        0
                                    </div>
                                    <div class="mt-1 fs-6">HOURS</div>
                                </div>

                                <div class="fs-3 lecce-primary-color fw-bold pt-2">:</div>

                                <div class="d-flex flex-column align-items-center">
                                    <div class="lecce-profile-date lecce-primary-color fw-bold fs-4 rounded-4"
                                        id="minutes">
                                        0
                                    </div>
                                    <div class="mt-1 fs-6">MINUTES</div>
                                </div>

                                <div class="fs-3 lecce-primary-color fw-bold pt-2">:</div>

                                <div class="d-flex flex-column align-items-center">
                                    <div class="lecce-profile-date lecce-primary-color fw-bold fs-4 rounded-4"
                                        id="seconds">
                                        0
                                    </div>
                                    <div class="mt-1 fs-6">SECONDS</div>
                                </div>

                            </div>
                        </div>
                        <div class="d-none" id="limitExpired">
                            <div class="d-flex flex-column align-items-center">
                                <div class="lecce-negative-color fw-bold fs-1 rounded-4">
                                    CANCEL LIMIT EXPIRED
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-5">
                            <div class="d-flex flex-column align-items-center">
                                <div class="lecce-negative-color fw-bold fs-1 rounded-4">
                                    CANCELED
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </section>


            <section class="bg-white rounded-5 shadow mb-4">
                <div class="p-4">

                    <h2 class="lecce-text-impact fw-bold lecce-secondary-color mb-0 fs-3 mb-3">
                        Summary
                    </h2>

                    <div class="row g-4 mb-4">

                        <span class="lecce-text-impact fw-bold lecce-secondary-color mb-0 fs-6">
                            {{ reservation.occurrence.tour.title }}
                        </span>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-calendar-event lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bolder">WHEN</div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        {{ reservation.occurrence.date.strftime("%d/%m/%Y") }} - {{
                                        reservation.occurrence.start_time }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-clock lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Duration</div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        {{ reservation.occurrence.tour.duration }}m
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-geo-alt lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Meeting point
                                    </div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        {{ reservation.occurrence.tour.stops }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-translate lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Language</div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        {{ reservation.occurrence.tour.language }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-people lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Participants in this reservation
                                    </div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        {{ number_of_participants }} people
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex gap-3">
                                <i class="bi bi-palette lecce-primary-color"></i>
                                <div>
                                    <div class="mb-1 fs-6 lecce-text-impact lecce-primary-color fw-bold">Theme</div>
                                    <div class="fw-semibold lecce-secondary-color">
                                        {{ reservation.occurrence.tour.theme.name }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="border-top pt-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-3">
                            <a href="{{ url_for('profile', id=reservation.occurrence.tour.guide.id) }}" class="text-decoration-none">
                                {% if reservation.occurrence.tour.guide.profile_photo is not none %}
                                <div class="profile-initials p-1"><img
                                        src="{{ url_for('static', filename='images/profile_photos/' ~ reservation.occurrence.tour.guide.profile_photo) }}"
                                        alt="Profile Photo" class="img-fluid rounded-circle object-fit-cover"></div>
                                {% else %}
                                <div class="profile-initials fw-bold p-2">{{
                                    reservation.occurrence.tour.guide.first_name[0].upper() }}{{
                                    reservation.occurrence.tour.guide.last_name[0].upper() }}</div>
                                {% endif %}
                            </a>

                            <div>
                                <div class="fw-bold lecce-secondary-color">
                                    {{ reservation.occurrence.tour.guide.first_name }} {{
                                    reservation.occurrence.tour.guide.last_name }}
                                </div>
                                <div class="fs-6">
                                    Your guide
                                </div>
                            </div>
                        </div>

                        <a href="mailto:{{ reservation.occurrence.tour.guide.email }}?subject=Informations about tour: {{ reservation.occurrence.tour.title }}" class="btn lecce-btn text-black border lecce-secondary-color">
                            <i class="bi bi-envelope me-1"></i>
                            Contact
                        </a>
                    </div>

                </div>
            </section>


            <section class="bg-white border-0 rounded-5 shadow mb-4">
                <div class="p-4">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="fw-bold lecce-secondary-color mb-0 fs-3">
                            Participants
                        </h2>
                    </div>


                    <div class="d-flex justify-content-between align-items-center py-3 border-bottom">

                        <div class="d-flex align-items-center gap-3">
                            <a href="{{ url_for('my_profile') }}" class="text-decoration-none">
                                {% if current_user.profile_photo is not none %}
                                <div class="profile-initials p-1"><img
                                        src="{{ url_for('static', filename='images/profile_photos/' ~ current_user.profile_photo) }}"
                                        alt="Profile Photo" class="img-fluid rounded-circle object-fit-cover"></div>
                                {% else %}
                                <div class="profile-initials fw-bold p-2">{{ current_user.first_name[0].upper() }}{{
                                    current_user.last_name[0].upper() }}</div>
                                {% endif %}
                            </a>

                            <div>
                                <div class="fw-bold lecce-secondary-color">
                                    {{ current_user.first_name }} {{ current_user.last_name }}
                                </div>
                                <div class="fs-6">
                                    {{ current_user.email }}
                                </div>
                            </div>
                        </div>

                        <span class="badge lecce-btn lecce-secondary-background lecce-primary-color">
                            Registered
                        </span>

                    </div>

                    {% for participant in reservation.extra_participants %}
                    <div class="d-flex justify-content-between align-items-center py-3 border-bottom ms-5">

                        <div class="d-flex align-items-center gap-3">
                            <div class="profile-initials fw-bold p-2">
                                {{ participant.first_name[0].upper() }}{{ participant.last_name[0].upper() }}
                            </div>

                            <div>
                                <div class="fw-bold lecce-secondary-color">
                                    {{ participant.first_name }} {{ participant.last_name }}
                                </div>
                                <div class="fs-6">
                                    {{ participant.email }}
                                </div>
                            </div>
                        </div>

                        <span class="badge lecce-btn lecce-primary-background lecce-primary-color">
                            Extra
                        </span>

                    </div>
                    {% endfor %}

                    <div class="d-flex justify-content-center align-items-center py-3 mt-3">
                        <p class="fw-bold mb-0">
                            If you need to make changes to your reservation, cancel it and book again.
                        </p>
                    </div>
                </div>
            </section>


            <section class="row g-3 mb-3">

                <!-- TODO: implement export calendar -->
                <div class="col-6">
                    <a href="{{ url_for('add_reservation_to_calendar', id=reservation.id) }}" class="btn lecce-btn lecce-secondary-background shadow-sm w-100 py-3 fw-bold">
                        <i class="bi bi-calendar-plus me-2"></i>
                        Add to calendar
                    </a>
                </div>

                <div class="col-6">
                    {% if reservation.state == "active" %}
                    <form method="POST" action="{{ url_for('delete_reservation', id=reservation.id) }}">
                        <button type="submit"
                            class="btn lecce-btn lecce-negative-background shadow-sm w-100 py-3 fw-bold"
                            id="cancelButton">
                            <i class="bi bi-trash me-2"></i>
                            Cancel reservation
                        </button>
                    </form>
                    {% else %}
                    <button type="button" class="btn lecce-btn lecce-negative-background shadow-sm w-100 py-3 fw-bold"
                        id="cancelButton" disabled>
                        Already canceled
                    </button>
                    {% endif %}
                </div>

            </section>
        </div>
    </div>
</main>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='javascript/countdown_reservation.js') }}"></script>
{% endblock %}