{% extends "base.html" %}

{% block title %}Dettaglio tour{% endblock %}

{% block content %}


<main class="py-5">

    <!-- modal for confirmation of delete-->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content p-4">

                <div class="d-flex justify-content-center">
                    <p class="fw-bold">
                        Are you sure?
                    </p>
                </div>

                <div class="d-flex gap-2 justify-content-center">
                    <button type="button" class="btn lecce-btn lecce-secondary-background text-white fw-bold py-3"
                        data-bs-dismiss="modal">
                        Cancel
                    </button>

                    <form method="POST" action="{{ url_for('delete_tour', id=tour.id) }}">
                        <button type="submit" class="btn lecce-btn lecce-negative-background text-white fw-bold py-3">
                            Delete
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="row g-5">

            <div class="col-12 col-lg-8">

                <section class="mb-5">

                    <div id="tourPhotosCarousel"
                        class="carousel slide rounded-5 overflow-hidden shadow lecce-{{ tour.theme.name.lower() }}-border"
                        data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#tourPhotosCarousel" data-bs-slide-to="0"
                                class="active"></button>

                            <button type="button" data-bs-target="#tourPhotosCarousel" data-bs-slide-to="1"></button>

                            <button type="button" data-bs-target="#tourPhotosCarousel" data-bs-slide-to="2"></button>

                            <button type="button" data-bs-target="#tourPhotosCarousel" data-bs-slide-to="3"></button>

                            <button type="button" data-bs-target="#tourPhotosCarousel" data-bs-slide-to="4"></button>
                        </div>

                        <div class="carousel-inner">

                            <div class="carousel-item active" data-bs-interval="5000">
                                <div class="ratio ratio-16x9">
                                    <img src="{{ url_for('static', filename='images/tour_photos/' ~ tour.photos['photo1']) }}"
                                        alt="First Photo" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>

                            <div class="carousel-item" data-bs-interval="5000">
                                <div class="ratio ratio-16x9">
                                    <img src="{{ url_for('static', filename='images/tour_photos/' ~ tour.photos['photo2']) }}"
                                        alt="Second Photo" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>

                            <div class="carousel-item" data-bs-interval="5000">
                                <div class="ratio ratio-16x9">
                                    <img src="{{ url_for('static', filename='images/tour_photos/' ~ tour.photos['photo3']) }}"
                                        alt="Third Photo" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>

                            <div class="carousel-item" data-bs-interval="5000">
                                <div class="ratio ratio-16x9">
                                    <img src="{{ url_for('static', filename='images/tour_photos/' ~ tour.photos['photo4']) }}"
                                        alt="Fourth Photo" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>

                            <div class="carousel-item" data-bs-interval="5000">
                                <div class="ratio ratio-16x9">
                                    <img src="{{ url_for('static', filename='images/tour_photos/' ~ tour.photos['photo5']) }}"
                                        alt="Fifth Photo" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#tourPhotosCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#tourPhotosCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                </section>

                <section class="mb-4">
                    <div class="lecce-{{ theme }}-background rounded-5 shadow-sm border p-3">

                        <div class="d-flex align-items-center gap-3">

                            <div class="lecce-default-background lecce-theme-icon">
                                <span class="fs-1 p-1">{{ tour.theme.emoji }}</span>
                            </div>

                            <div>
                                <div class="lecce-{{ theme }}-text fw-bold mb-1 fs-6">
                                    THE THEME OF THIS TOUR IS: {{ theme.upper() }}
                                </div>

                                <p class="lecce-{{ theme }}-text fw-bold mb-0">
                                    {{tour.theme.description}}
                                </p>
                            </div>

                        </div>

                    </div>
                </section>

                <section class="bg-white rounded-5 shadow p-4 p-lg-5 mb-5">

                    <h1 class="lecce-text-impact lecce-secondary-color fw-bold mb-3 fs-1">
                        {{ tour.title }}
                    </h1>

                    <div class="d-flex flex-wrap gap-3 mb-4 fs-6">

                        <span>
                            <i class="bi bi-clock me-1 lecce-primary-color"></i>
                            {{ tour.duration }} m
                        </span>

                        <span>
                            <i class="bi bi-translate me-1 lecce-primary-color"></i>
                            {{ tour.language['name'] }}
                        </span>

                        <span>
                            <i class="bi bi-people me-1 lecce-primary-color"></i>
                            Max {{ tour.max_participants }} participants
                        </span>

                    </div>

                    <h2 class="lecce-text-impact lecce-secondary-color fw-bold mb-3 fs-3">
                        About the tour
                    </h2>

                    <p class="mb-3 text-break">
                        {{ tour.description }}
                    </p>

                </section>

                <section class="mb-5">

                    <h2 class="lecce-text-impact lecce-secondary-color fw-bold mb-3 fs-3">
                        Itinerary
                    </h2>

                    <div class="bg-white rounded-5 shadow p-4">

                        {% for order_number, stop in tour.stops.items() %}
                        <div class="d-flex align-items-center gap-3 border-bottom pb-3 mb-3">
                            <span
                                class="d-flex justify-content-center badge lecce-{{ theme }}-background lecce-{{ theme }}-text lecce-btn align-self-start px-3 py-2 fs-6 w-6">
                                {{ order_number }}
                            </span>

                            <span class="lecce-secondary-color fw-bold fs-5 m-0">
                                {{ stop }}
                            </span>
                        </div>
                        {% endfor %}

                    </div>

                </section>

                <section class="mb-5">

                    <h2 class="lecce-text-impact lecce-secondary-color fw-bold mb-0 fs-3 mb-3">
                        Schedule
                    </h2>

                    <div class="row g-3">

                        <div class="col">
                            <div
                                class="{% if tour.weekly_schedule.get('monday') is not none %} lecce-{{ theme }}-background {% else %} bg-white {% endif %} rounded-4 border p-3 d-flex flex-column align-items-center h-100">
                                <div
                                    class="{% if tour.weekly_schedule.get('monday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold mb-1 fs-6">
                                    MON
                                </div>

                                <div
                                    class="{% if tour.weekly_schedule.get('monday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold">
                                    {% if tour.weekly_schedule.get('monday') is not none %}
                                    {{ tour.weekly_schedule.get('monday') }}
                                    {% else %}
                                    —
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="{% if tour.weekly_schedule.get('tuesday') is not none %} lecce-{{ theme }}-background {% else %} bg-white {% endif %} rounded-4 border p-3 d-flex flex-column align-items-center h-100">
                                <div
                                    class="{% if tour.weekly_schedule.get('tuesday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold mb-1 fs-6">
                                    TUE
                                </div>

                                <div
                                    class="{% if tour.weekly_schedule.get('tuesday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold">
                                    {% if tour.weekly_schedule.get('tuesday') is not none %}
                                    {{ tour.weekly_schedule.get('tuesday') }}
                                    {% else %}
                                    —
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="{% if tour.weekly_schedule.get('wednesday') is not none %} lecce-{{ theme }}-background {% else %} bg-white {% endif %} rounded-4 border p-3 d-flex flex-column align-items-center h-100">
                                <div
                                    class="{% if tour.weekly_schedule.get('wednesday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold mb-1 fs-6">
                                    WED
                                </div>

                                <div
                                    class="{% if tour.weekly_schedule.get('wednesday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold">
                                    {% if tour.weekly_schedule.get('wednesday') is not none %}
                                    {{ tour.weekly_schedule.get('wednesday') }}
                                    {% else %}
                                    —
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="{% if tour.weekly_schedule.get('thursday') is not none %} lecce-{{ theme }}-background {% else %} bg-white {% endif %} rounded-4 border p-3 d-flex flex-column align-items-center h-100">
                                <div
                                    class="{% if tour.weekly_schedule.get('thursday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold mb-1 fs-6">
                                    THU
                                </div>

                                <div
                                    class="{% if tour.weekly_schedule.get('thursday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold">
                                    {% if tour.weekly_schedule.get('thursday') is not none %}
                                    {{ tour.weekly_schedule.get('thursday') }}
                                    {% else %}
                                    —
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="{% if tour.weekly_schedule.get('friday') is not none %} lecce-{{ theme }}-background {% else %} bg-white {% endif %} rounded-4 border p-3 d-flex flex-column align-items-center h-100">
                                <div
                                    class="{% if tour.weekly_schedule.get('friday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold mb-1 fs-6">
                                    FRI
                                </div>

                                <div
                                    class="{% if tour.weekly_schedule.get('friday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold">
                                    {% if tour.weekly_schedule.get('friday') is not none %}
                                    {{ tour.weekly_schedule.get('friday') }}
                                    {% else %}
                                    —
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="{% if tour.weekly_schedule.get('saturday') is not none %} lecce-{{ theme }}-background {% else %} bg-white {% endif %} rounded-4 border p-3 d-flex flex-column align-items-center h-100">
                                <div
                                    class="{% if tour.weekly_schedule.get('saturday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold mb-1 fs-6">
                                    SAT
                                </div>

                                <div
                                    class="{% if tour.weekly_schedule.get('saturday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold">
                                    {% if tour.weekly_schedule.get('saturday') is not none %}
                                    {{ tour.weekly_schedule.get('saturday') }}
                                    {% else %}
                                    —
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="{% if tour.weekly_schedule.get('sunday') is not none %} lecce-{{ theme }}-background {% else %} bg-white {% endif %} rounded-4 border p-3 d-flex flex-column align-items-center h-100">
                                <div
                                    class="{% if tour.weekly_schedule.get('sunday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold mb-1 fs-6">
                                    SUN
                                </div>

                                <div
                                    class="{% if tour.weekly_schedule.get('sunday') is not none %} lecce-{{ theme }}-text {% endif %} fw-bold">
                                    {% if tour.weekly_schedule.get('sunday') is not none %}
                                    {{ tour.weekly_schedule.get('sunday') }}
                                    {% else %}
                                    —
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

                <section class="mb-5">

                    <h2 class="lecce-secondary-color fw-bold fs-3 mb-3">
                        The guide
                    </h2>

                    <div class="bg-white rounded-5 shadow p-4">

                        <div
                            class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-start align-items-lg-center gap-3">

                            <div class="d-flex align-items-center gap-3">
                                {% if tour.guide.profile_photo is none %}
                                <a class="profile-initials lecce-text-impact fw-bold text-decoration-none"
                                    href="{{ url_for('profile', id=tour.guide.id) }}">
                                    {{ tour.guide.first_name[0] }}{{ tour.guide.last_name[0] }}
                                </a>
                                {% else %}
                                <a class="profile-initials p-1" href="{{ url_for('profile', id=tour.guide.id) }}">
                                    <img src="{{ url_for('static', filename='images/profile_photos/' ~ tour.guide.profile_photo) }}"
                                        alt="Guide Profile Photo" class="img-fluid rounded-circle object-fit-cover">
                                </a>
                                {% endif %}

                                <span class="lecce-secondary-color fw-bold mb-0 fs-5">
                                    {{ tour.guide.first_name }} {{ tour.guide.last_name }}
                                </span>
                            </div>

                            <p class="mb-0 fs-6 lecce-secondary-color">
                                <i class="bi bi-translate lecce-primary-color me-1"></i>
                                {% for language in tour.guide.languages %}
                                {{ language['name'] }}{% if not loop.last %} - {% endif %}
                                {% endfor %}
                            </p>

                        </div>

                    </div>

                </section>

            </div>

            <div class="col-12 col-lg-4">

                <aside class="position-sticky top-5">

                    <section class="bg-white rounded-5 shadow-sm overflow-hidden">

                        <div class="lecce-{{ tour.theme.name.lower() }}-background p-4 d-flex justify-content-center">
                            <h2 class="lecce-{{ tour.theme.name.lower() }}-text fw-bold fs-3 m-0">
                                Book this tour
                            </h2>
                        </div>

                        {% if tour.state == 'active' %}
                        {% if current_user.is_authenticated %}
                        {% if current_user.role == 'participant' %}
                        <form method="POST" action="{{ url_for('book_tour', id=tour.id) }}" class="p-4">

                            <div class="mb-3">
                                <label for="tourDate" class="form-label fw-bold lecce-secondary-color">
                                    Date
                                </label>

                                <input type="date" class="form-control rounded-4" id="tourDate" name="tour_date"
                                    placeholder="Choose a date" dates-to-be-enabled="{{ avaiable_days }}"
                                    value="{{ today }}" min="{{ today }}" required>
                            </div>

                            <div class="mb-3">
                                <label for="peopleCount" class="form-label fw-bold lecce-secondary-color">
                                    Participants
                                </label>

                                <input type="number" class="form-control rounded-4" id="peopleCount" name="people_count"
                                    min="1" max="4" value="1" required>
                            </div>

                            <section>
                                <div class="lecce-{{ tour.theme.name.lower() }}-background border rounded-5 p-4 mb-4 d-none"
                                    id="extraParticipant1">

                                    <div class="fw-bold lecce-{{ tour.theme.name.lower() }}-text mb-3">
                                        Extra participant 1
                                    </div>

                                    <div class="mb-3">
                                        <label for="extraParticipant1Name"
                                            class="form-label fw-bold lecce-{{ tour.theme.name.lower() }}-text">
                                            Name <span class="lecce-primary-color">*</span>
                                        </label>

                                        <input type="text" class="form-control rounded-4 p-3" id="extraParticipant1Name"
                                            name="participant_first_name_1" placeholder="Name">
                                    </div>

                                    <div class="mb-3">
                                        <label for="extraParticipant1LastName"
                                            class="form-label fw-bold lecce-{{ tour.theme.name.lower() }}-text">
                                            Last Name <span class="lecce-primary-color">*</span>
                                        </label>

                                        <input type="text" class="form-control rounded-4 p-3"
                                            id="extraParticipant1LastName" name="participant_last_name_1"
                                            placeholder="Last Name">
                                    </div>

                                    <div>
                                        <label for="extraParticipant1Email"
                                            class="form-label fw-bold lecce-{{ tour.theme.name.lower() }}-text">
                                            Email <span class="lecce-primary-color">*</span>
                                        </label>

                                        <input type="email" class="form-control rounded-4 p-3"
                                            id="extraParticipant1Email" name="participant_email_1"
                                            placeholder="email@email.com">
                                    </div>

                                </div>

                                <div class="lecce-{{ tour.theme.name.lower() }}-background border rounded-5 p-4 mb-4 d-none"
                                    id="extraParticipant2">

                                    <div class="fw-bold lecce-{{ tour.theme.name.lower() }}-text mb-3">
                                        Extra participant 2
                                    </div>

                                    <div class="mb-3">
                                        <label for="extraParticipant2Name"
                                            class="form-label fw-bold lecce-{{ tour.theme.name.lower() }}-text">
                                            Name <span class="lecce-primary-color">*</span>
                                        </label>

                                        <input type="text" class="form-control rounded-4 p-3" id="extraParticipant2Name"
                                            name="participant_first_name_2" placeholder="Name">
                                    </div>

                                    <div class="mb-3">
                                        <label for="extraParticipant2LastName"
                                            class="form-label fw-bold lecce-{{ tour.theme.name.lower() }}-text">
                                            Last Name <span class="lecce-primary-color">*</span>
                                        </label>

                                        <input type="text" class="form-control rounded-4 p-3"
                                            id="extraParticipant2LastName" name="participant_last_name_2"
                                            placeholder="Last Name">
                                    </div>

                                    <div>
                                        <label for="extraParticipant2Email"
                                            class="form-label fw-bold lecce-{{ tour.theme.name.lower() }}-text">
                                            Email <span class="lecce-primary-color">*</span>
                                        </label>

                                        <input type="email" class="form-control rounded-4 p-3"
                                            id="extraParticipant2Email" name="participant_email_2"
                                            placeholder="email@email.com">
                                    </div>

                                </div>

                                <div class="lecce-{{ tour.theme.name.lower() }}-background border rounded-5 p-4 mb-4 d-none"
                                    id="extraParticipant3">

                                    <div class="fw-bold lecce-{{ tour.theme.name.lower() }}-text mb-3">
                                        Extra participant 3
                                    </div>

                                    <div class="mb-3">
                                        <label for="extraParticipant3Name"
                                            class="form-label fw-bold lecce-{{ tour.theme.name.lower() }}-text">
                                            Name <span class="lecce-primary-color">*</span>
                                        </label>

                                        <input type="text" class="form-control rounded-4 p-3" id="extraParticipant3Name"
                                            name="participant_first_name_3" placeholder="Name">
                                    </div>

                                    <div class="mb-3">
                                        <label for="extraParticipant3LastName"
                                            class="form-label fw-bold lecce-{{ tour.theme.name.lower() }}-text">
                                            Last Name <span class="lecce-primary-color">*</span>
                                        </label>

                                        <input type="text" class="form-control rounded-4 p-3"
                                            id="extraParticipant3LastName" name="participant_last_name_3"
                                            placeholder="Last Name">
                                    </div>

                                    <div>
                                        <label for="extraParticipant3Email"
                                            class="form-label fw-bold lecce-{{ tour.theme.name.lower() }}-text">
                                            Email <span class="lecce-primary-color">*</span>
                                        </label>

                                        <input type="email" class="form-control rounded-4 p-3"
                                            id="extraParticipant3Email" name="participant_email_3"
                                            placeholder="email@email.com">
                                    </div>

                                </div>

                                <div class="d-none lecce-negative-background rounded-4 p-3 d-flex justify-content-center fw-bold text-white"
                                    id="TooManyParticipants">
                                    Too many participants selected
                                </div>

                            </section>

                            <button type="submit"
                                class="lecce-btn lecce-{{ tour.theme.name.lower() }}-background lecce-{{ tour.theme.name.lower() }}-text fw-bold w-100 py-3">
                                <i class="bi bi-ticket-perforated me-1"></i>
                                Book this tour
                            </button>

                        </form>
                        {% else %} <!--IF USER IS A GUIDE-->
                        <div class="p-4 d-flex flex-column align-items-center">
                            <p class="fw-semibold">As a guide, you cannot book tours.</p>
                            {% if tour.guide.id == current_user.id %}
                            {% if has_reservations == 0 %}
                            <a href="{{ url_for('edit_tour', id=tour.id) }}"
                                class="btn lecce-btn lecce-primary-background text-white fw-bold w-100 py-3 user-select-none text-decoration-none d-flex justify-content-center align-items-center text-center p-5 fw-bold mb-3">
                                <i class="bi bi-pencil me-1"></i>
                                Edit this tour
                            </a>
                            {% else %}
                            <a href="#"
                                class="lecce-btn lecce-negative-background text-white fw-bold w-100 py-3 user-select-none text-decoration-none d-flex justify-content-center align-items-center text-center p-5 fw-bold mb-3">
                                <i class="bi bi-x-lg me-1"></i>
                                Uneditable Tour
                            </a>
                            {% endif %}
                            {% if has_active_reservations == 0 %}
                            <button type="button"
                                class="btn lecce-btn lecce-negative-background text-white fw-bold w-100 py-3"
                                data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Delete this tour
                            </button>
                            {% else %}
                            <a href="#"
                                class="lecce-btn lecce-negative-background text-white fw-bold w-100 py-3 user-select-none text-decoration-none d-flex justify-content-center align-items-center text-center p-5 fw-bold">
                                <i class="bi bi-x-lg me-1"></i>
                                Undeletable Tour
                            </a>
                            {% endif %}
                            {% else %}

                        </div>
                        {% endif %}
                        {% endif %}
                        {% else %} <!--IF USER IS NOT LOGGED IN-->
                        <div class="p-4 d-flex flex-column align-items-center">
                            <p class="fw-semibold">Only logged in users can book tours.</p>
                            <a href="{{ url_for('login') }}"
                                class="btn lecce-btn lecce-negative-background text-white fw-bold w-100 py-3 user-select-none text-decoration-none d-flex justify-content-center align-items-center text-center p-5 fw-bold">
                                <i class="bi bi-x-lg me-1"></i>
                                Log in
                            </a>
                        </div>
                        {% endif %}
                        {% else %} <!--IF TOUR IS NOT ACTIVE-->
                        <div class="p-4 d-flex flex-column align-items-center">
                            <p class="fw-semibold">This tour is not active.</p>
                        </div>
                        {% endif %}


                    </section>

                    <section>
                        <div class="bg-white rounded-5 shadow-sm p-4 mt-5">

                            <h2 class="lecce-secondary-color fw-bold fs-3 mb-4">
                                Reviews
                            </h2>

                            {% if current_user.is_authenticated and current_user.role == "participant" %}
                            <div class="d-flex flex-column gap-4 border-bottom pb-4 mb-4">

                                <h3 class="lecce-secondary-color fw-bold fs-6 mb-0">
                                    Leave a review
                                </h3>

                                {% if times_user_reserved > 0 %}

                                {% if user_review is none %}
                                <div class="d-flex align-items-start gap-2">

                                    <a href="{{ url_for('my_profile') }}" class="text-decoration-none">
                                        {% if current_user.profile_photo is not none %}
                                        <div class="profile-initials p-1"><img
                                                src="{{ url_for('static', filename='images/profile_photos/' ~ current_user.profile_photo) }}"
                                                alt="Profile Photo" class="img-fluid rounded-circle object-fit-cover">
                                        </div>
                                        {% else %}
                                        <div class="profile-initials fw-bold p-2">{{ current_user.first_name[0].upper()
                                            }}{{current_user.last_name[0].upper() }}
                                        </div>
                                        {% endif %}
                                    </a>

                                    <form method="POST" action="{{ url_for('add_review', id=tour.id) }}"
                                        class="d-flex flex-column gap-3">

                                        <div
                                            class="d-flex justify-content-start align-items-center gap-2 user-select-none">
                                            <input type="radio" class="btn-check" name="rating" id="rating1" value="1"
                                                required>
                                            <label for="rating1"><i id="label1"
                                                    class="bi bi-star lecce-secondary-color"></i></label>

                                            <input type="radio" class="btn-check" name="rating" id="rating2" value="2"
                                                required>
                                            <label for="rating2"><i id="label2"
                                                    class="bi bi-star lecce-secondary-color"></i></label>

                                            <input type="radio" class="btn-check" name="rating" id="rating3" value="3"
                                                required>
                                            <label for="rating3"><i id="label3"
                                                    class="bi bi-star lecce-secondary-color"></i></label>

                                            <input type="radio" class="btn-check" name="rating" id="rating4" value="4"
                                                required>
                                            <label for="rating4"><i id="label4"
                                                    class="bi bi-star lecce-secondary-color"></i></label>

                                            <input type="radio" class="btn-check" name="rating" id="rating5" value="5"
                                                required>
                                            <label for="rating5"><i id="label5"
                                                    class="bi bi-star lecce-secondary-color"></i></label>
                                        </div>

                                        <div class="mb-3">
                                            <label for="comment" class="form-label fw-bold lecce-secondary-color">
                                                What did you think of this tour?
                                            </label>

                                            <textarea class="form-control rounded-4" id="comment" name="comment"
                                                rows="3" placeholder="Write your review here" minlength="2"
                                                maxlength="200" required></textarea>
                                        </div>

                                        <div class="d-flex justify-content-end gap-3">
                                            <button type="Reset"
                                                class="btn lecce-btn lecce-secondary-background fw-bold align-self-start px-4 py-2"
                                                id="clearReviewForm">
                                                Clear
                                            </button>
                                            <button type="submit"
                                                class="btn lecce-btn lecce-primary-background fw-bold align-self-start px-4 py-2">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                {% else %}
                                <p class="mb-0 fw-bold">You have reviewed yet this tour.</p>
                                {% endif %}

                                {% else %}
                                <p class="mb-0 fw-bold">You can leave a review only if you have reserved this tour before today.</p>
                                {% endif %}
                            </div>
                            {% else %}
                            <p class="mb-0 fw-bold border-bottom p-2">Only logged-in users and participants can write
                                reviews.</p>
                            {% endif %}
                            <h3 class="lecce-secondary-color fw-bold fs-6 my-4">
                                All reviews
                            </h3>

                            {% if reviews|length > 0 %}
                            {% for review in reviews %}
                            <div class="mb-4 d-flex gap-4 border rounded-4 p-3 align-items-start">
                                <a href="{{ url_for('profile', id=review.participant.id) }}" class="text-decoration-none">
                                    {% if review.participant.profile_photo is not none %}
                                    <div class="profile-initials p-1"><img
                                            src="{{ url_for('static', filename='images/profile_photos/' ~ review.participant.profile_photo) }}"
                                            alt="Profile Photo" class="img-fluid rounded-circle object-fit-cover">
                                    </div>
                                    {% else %}
                                    <div class="profile-initials fw-bold p-2">{{ review.participant.first_name[0].upper()
                                        }}{{review.participant.last_name[0].upper() }}
                                    </div>
                                    {% endif %}
                                </a>
                                <div class="d-flex flex-column">
                                    <span class="fw-bold lecce-secondary-color mb-1">
                                        {{ review.participant.first_name }} {{ review.participant.last_name }}
                                    </span>
                                    <div
                                        class="d-flex justify-content-start align-items-center gap-2 user-select-none mb-2">
                                        {% for i in range(1, 6) %}
                                        {% if i <= review.rating %} <i class="bi bi-star-fill lecce-primary-color">
                                            </i>
                                            {% else %}
                                            <i class="bi bi-star lecce-primary-color"></i>
                                            {% endif %}
                                            {% endfor %}
                                    </div>
                                    <p class="mb-0 text-break">{{ review.description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p class="m-3 fw-bold">No reviews yet. Be the first to review this tour!</p>
                            {% endif %}

                        </div>

                    </section>

                </aside>

            </div>

        </div>

    </div>
</main>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{{ url_for('static', filename='javascript/date_selector.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/add_participant.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/rating.js') }}"></script>

{% endblock %}
