{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="mx-4 my-5">

    <section class="my-5">
        <div class="container">


            <h1 class="fw-bold mb-3">
                What we offer
            </h1>

            <a class="btn lecce-btn lecce-primary-background" data-bs-toggle="collapse" href="#collapseFilters">
                Apply new filters <i class="bi-funnel"></i>
            </a>
            <div class="collapse" id="collapseFilters">
                {% include "searchbar.html" %}
            </div>

        </div>
    </section>

    <!-- Tours -->
    <section>
        <div class="container">

            <div class="row g-4">
                {% if tours|length > 0 %}
                {% for tour in tours %}
                <div class="col-3">
                    {% include "tour_card.html" %}
                </div>
                {% endfor %}
                {% else %}
                <div class="d-flex justify-content-center">
                    <p>No tours found</p>
                </div>
                {% endif %}
            </div>

        </div>
    </section>

</main>
{% endblock %}