<div class="card border-0 rounded-5 shadow overflow-hidden h-100">

    <a href="{{ url_for('tour', id=tour.id) }}" class="shadow overflow-hidden tour-preview-photo">
        <img class="object-fit-cover h-100 w-100"
            src="{{ url_for('static', filename='images/tour_photos/' ~ tour.photos) }}" alt="Tour photo">
    </a>

    <article class="card-body p-4 d-flex flex-column">
        <h3 class="fs-5 fw-bold mb-3 lecce-text-impact">{{ tour.title }}</h3>

        <span
            class="badge lecce-{{ tour.theme.name.lower() }}-background lecce-{{ tour.theme.name.lower() }}-text lecce-btn position-absolute top-0 start-0 m-3">
            {{ tour.theme.name }}
        </span>
        {% if tour.state == "active" %}
        <span class="badge lecce-positive-background lecce-primary-text lecce-btn position-absolute top-0 end-0 m-3">
            Active
        </span>
        {% else %}
        <span class="badge lecce-negative-background lecce-primary-text lecce-btn position-absolute top-0 end-0 m-3">
            Inactive
        </span>
        {% endif %}

        <p class="mb-4 overflow-hidden lecce-tour-card border-bottom flex-grow-1">
            {{ tour.description }}
        </p>

        <div class="mb-4 border-bottom pb-4">
            <div class="d-flex gap-3 mb-3">
                <span><i class="bi bi-clock lecce-primary-color me-1"></i>{{ tour.duration }}m</span>

                <span><i class="bi bi-translate lecce-primary-color me-1"></i>{{ tour.language[0:2].upper() }}</span>
            </div>
            <div>
                <span><i class="bi bi-geo-alt lecce-primary-color me-1"></i>{{ tour.stops }}</span>
            </div>
        </div>

        <div class="d-flex flex-column gap-3">
            <div class="d-flex align-items-center gap-2">
                {% if tour.guide.profile_photo is none %}
                <a class="profile-initials lecce-text-impact fw-bold text-decoration-none"
                    href="{{ url_for('profile', id=tour.guide.id) }}">
                    {{ tour.guide.first_name[0] }}{{ tour.guide.last_name[0] }}
                </a>
                {% else %}
                <a class="profile-initials p-1" href="{{ url_for('profile', id=tour.guide.id) }}">
                    <img src="{{ url_for('static', filename='images/profile_photos/' ~ tour.guide.profile_photo) }}"
                        alt="Guide Profile Photo" class="img-fluid rounded-circle object-fit-cover">
                </a>
                {% endif %}

                <div class="d-flex flex-column align-items-start">
                    <span class="fw-bold mb-0">{{ tour.guide.first_name }}</span>
                    <span class="fw-bold mb-0">{{ tour.guide.last_name }}</span>
                    <span class="mb-0 fs-6">Local Guide</span>
                </div>
            </div>

            <a href="{{ url_for('tour', id=tour.id) }}" class="btn lecce-btn lecce-primary-background px-4 w-100">{% if current_user.role != 'guide' and tour.state == 'active' %}Book{% else %}View{% endif %}</a>
        </div>
    </article>

</div>
