<div class="card border-0 rounded-5 shadow overflow-hidden h-100">

    <div class="shadow overflow-hidden tour-preview-photo">
        <img class="object-fit-cover h-100 w-100"
            src="{{ url_for('static', filename='images/utility_images/placeholder.jpg') }}" alt="Tour photo">
    </div>

    <div class="card-body p-4">
        <h3 class="h4 fw-bold mb-3 lecce-text-impact">Barocco e Meraviglie</h3>

        <p class="mb-4">Lore ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <div class="d-flex flex-wrap gap-3 mb-4 border-bottom pb-4">
            <span><i class="bi bi-clock lecce-primary-color me-1"></i>120m</span>

            <span><i class="bi bi-translate lecce-primary-color me-1"></i>IT</span>

            <span><i class="bi bi-geo-alt lecce-primary-color me-1"></i>Porta Napoli</span>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-2">
                <!-- TODO: Implement routes-->
                <a href="#" class="text-decoration-none">
                    <div class="profile-initials fw-bold p-2">MR</div>
                </a>

                <div class="d-flex flex-column align-items-start">
                    <span class="fw-bold mb-0">Marco Rizzo</span>
                    <span class="mb-0 small">Local Guide</span>
                </div>
            </div>
            
            <!-- TODO: Implement routes-->
            <a href="#" class="btn lecce-btn lecce-primary-background px-4">Book</a>
        </div>
    </div>

</div>
